In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [7]:
data = pd.read_csv('Local_Area_Unemployment_Statistics__Beginning_1976.csv')

In [9]:
# create date column at end of dataframe
# axis = 1 uses columns instead of rows
dates = data.apply(lambda x: pd.Timestamp('%d-%d-01' % (x.Year, x.Month)), axis=1)
d = pd.concat((data, pd.DataFrame({'date': dates})), axis=1)
d = d.sort_values(by='date')
d[:5]

,Area,Year,Month,Labor Force,Employed,Unemployed,Unemployment Rate,date
519,New York State,1976,1,7634700,6780200,854400,11.2,1976-01-01
44850,BALANCE OF STATE,1976,1,4520500,4023100,497400,11.0,1976-01-01
25734,New York City,1976,1,3114200,2757200,357000,11.5,1976-01-01
42141,New York City,1976,1,3114200,2757200,357000,11.5,1976-01-01
520,New York State,1976,2,7623500,6769500,854000,11.2,1976-02-01

In [10]:
# Get different areas
nyc = d[d.Area == 'New York City']
nys = d[d.Area == 'New York State']
buf = d[d.Area == 'Buffalo']

In [ ]:
# Create chart
plt.plot(nys.date, 100*nys['Unemployed']/nys['Labor Force'], label='New York State')
plt.plot(nyc.date, 100*nyc['Unemployed']/nyc['Labor Force'], label='New York City')
plt.plot(buf.date, 100*buf['Unemployed']/buf['Labor Force'], label='Buffalo')

# Axis labels
plt.xlabel('date')
plt.ylabel('Unemployment Rate')

# Generate legend
plt.legend()